<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head") %>
</head>


<body class="fixed-left">

    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner"></div>
        </div>
    </div>

    <!-- Begin page -->
    <div id="wrapper">

        <%- include("sidebar") %>


        <!-- Start right Content here -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <%- include("header") %>
                <%- include(`../pages/${page}`); -%>

            </div> <!-- content -->

            <%- include("footer") %>

        </div>
        <!-- End Right content here -->

    </div>
    <!-- END wrapper -->


    <%- include("footerLinks") %>

</body>

</html>